[tool.poetry]
name = "convpandas"
version = "0.1.5"
description = "Convert file format with pandas"
authors = ["yuji38kwmt"]
maintainers = ["yuji38kwmt"]
license = "MIT"
keywords=["pandas", "csv","xlsx", "excel"]
readme="README.md"
repository="https://github.com/yuji38kwmt/convert-fileformat-with-pandas.git"
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Topic :: Utilities",
    "Operating System :: OS Independent",
]


[tool.poetry.dependencies]
python = "^3.7.1"
pandas = "^1.2.1"
click = "*"
openpyxl = "*"


[tool.poetry.dev-dependencies]
mypy = "*"
flake8 = "*"
autoflake = "*"
isort = "*"
black = {version = "^20.8b1", allow-prereleases = true}
pytest = "*"


[tool.poetry.scripts]
convpandas = "convpandas.__main__:cli"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
